body {
    margin: 0;
    padding: 0;
    font-size: 100px;
    text-align: center;
    background: url("las.png");
    background-attachment: fixed;
    color: white;
    background-size: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: overlay;
    overflow-y: hidden;
    
}

html, body {
    scroll-behavior: smooth !important;
}

#jakiTrybDiv, #aktywnyGracz {

    -webkit-text-stroke: 2px black;
}

.komorka {
    flex: 1 0 33%;
    outline: 2px solid black;
    width: 100px;
    height: 200px;
    font-size: 150px;
    background-color: white;
    
}

#kolkoigrzyb {
    width: 600px;
    height: 600px;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    overflow: hidden;
}

#resethyhym {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #005E00;
    background-color: #00BA00;
    transition: 0.5s;
}

#resethyhym:active {
    background-color:#009400;
    box-shadow: 0 5px #004000;
    transform: translateY(4px);
}

#resethyhym:hover {
    color: #dbdbdb;
    transition: 0.5s;
}

#jakiTrybDiv {
    font-family: fantasy;
    color: white;
    font-size: 100px;
}

#aktywnyGracz {
    font-family: fantasy;
    color: white;
    font-size: 60px;
    margin-bottom: 10px;
}

#kolkoigrzyb {
    margin: auto;
}

#zmienTrybButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00BA00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #005E00;
    transition: 0.5s;
}

#zmienTrybButton:active {
    background-color: #009400;
    box-shadow: 0 5px #004000;
    transform: translateY(4px);
}

#zmienTrybButton:hover {
    color: #dbdbdb;
    transition: 0.5s;
}

.botvsbotguziec {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botvsbotguziec span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botvsbotguziec span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.botvsbotguziec:hover span {
    padding-right: 25px;
    color: #dbdbdb;
    transition: 0.5s;
  }
.botvsbotguziec:hover span:after {
    opacity: 1;
    right: 0;
  }
.botvsbotguziec {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00BA00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #005E00;
}

.botvsbotguziec:active {
    background-color: #009400;
    box-shadow: 0 5px #004000;
    transform: translateY(4px);
}

#takiblok {
    background-color: rgba(0, 0, 0, 0.42);
    /* opacity: 0.5; */
    width: 1100px;
    /* height: 100vh; */
    margin: auto;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(35, 35, 35, 0.6);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(35, 35, 35, 0.8);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(35, 35, 35);
}

table {
    font-size: 30px;
    margin: auto;
    /* margin-top: 5px; */
    font-family: fantasy;
    font-weight:normal;
    border-collapse: collapse;
    height: 92vh;
    display: flex;
    overflow-y: auto;
    display: inline-block;
}
/* table + tr {
    
    font-size: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: fantasy;
    font-weight:normal;
    border-collapse: collapse;
    height: 90vh;
    display: flex;
    overflow-y: auto;
    
} */

/* th div { 
    position: absolute; 
    background-color: #009400;
    color: white;
    padding: 10px 20px;
    font-weight:normal;
} */

td {
    /* border: solid black; */
    /* background-color: #fff; */
    color: rgb(190, 190, 190);
    /* border-left: solid 1px black;
    border-right: solid 1px black; */
    padding: 10px 20px;
}
th {
    background-color: #009400;
    color: white;
    padding: 10px 20px;
    font-weight:normal;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
tr:nth-child(even) {
    background-color: rgba(35, 35, 35, 0.8);
}
tr {
    background-color: rgba(45, 45, 45, 0.8);

}

#wdol {
    margin: 10px;
    padding: 0;
}

#wgore {
    margin: 20px;
    padding: 0;
}

a {
    font-family: fantasy;
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: #00ba0088;
}
/* a:hover {
    background-color: #00ba0088;
} */
