body {
    margin: 0;
    padding: 0;
    font-size: 100px;
    text-align: center;
    background: url("las.png");
    background-attachment: fixed;
    color: white;
    background-size: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: overlay;
    overflow-y: hidden;
    
}

html, body {
    scroll-behavior: smooth !important;
}

#jakiTrybDiv, #aktywnyGracz {
    text-shadow: 2px 2px 3px #000000;
}

.komorka {
    flex: 1 0 33%;
    outline: 2px solid black;
    width: 200px;
    height: 200px;
    font-size: 150px;
    background-color: white;
    
}

#kolkoigrzyb {
    width: 600px;
    height: 600px;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    overflow: hidden;
}

#resethyhym {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #005E00;
    background-color: #00BA00;
    transition: 0.5s;
}

#resethyhym:active {
    background-color:#009400;
    box-shadow: 0 5px #004000;
    transform: translateY(4px);
}

#resethyhym:hover {
    color: #dbdbdb;
    transition: 0.5s;
}

#jakiTrybDiv {
    font-family: fantasy;
    color: white;
    font-size: 100px;
}

#aktywnyGracz {
    font-family: fantasy;
    color: white;
    font-size: 60px;
    margin-bottom: 10px;
}

#kolkoigrzyb {
    margin: auto;
}

#zmienTrybButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00BA00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #005E00;
    transition: 0.5s;
}

#zmienTrybButton:active {
    background-color: #009400;
    box-shadow: 0 5px #004000;
    transform: translateY(4px);
}

#zmienTrybButton:hover {
    color: #dbdbdb;
    transition: 0.5s;
}

.botvsbotguziec {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botvsbotguziec span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botvsbotguziec span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.botvsbotguziec:hover span {
    padding-right: 25px;
    color: #dbdbdb;
    transition: 0.5s;
  }
.botvsbotguziec:hover span:after {
    opacity: 1;
    right: 0;
  }
.botvsbotguziec {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00BA00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #005E00;
}

.botvsbotguziec:active {
    background-color: #009400;
    box-shadow: 0 5px #004000;
    transform: translateY(4px);
}

#takiblok {
    background-color: rgba(0, 0, 0, 0.42);
    width: 1100px;
    margin: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(35, 35, 35, 0.6);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(35, 35, 35, 0.8);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(35, 35, 35);
}

table {
    font-size: 30px;
    margin: 60px auto;
    font-family: fantasy;
    font-weight:normal;
    border-collapse: collapse;
    height: 81vh;
    display: flex;
    overflow-y: auto;
    display: inline-block;
}

td {
    color: rgb(190, 190, 190);
    padding: 10px 20px;
}
th {
    background-color: #009400;
    color: white;
    padding: 10px 20px;
    font-weight:normal;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
tr:nth-child(even) {
    background-color: rgba(35, 35, 35, 0.8);
}
tr {
    background-color: rgba(45, 45, 45, 0.8);

}

#niewiemdiv {
    font-size: 10px;
    padding: 0;
    margin: 20px;
    height:auto;
    transition: .3s;
    
}
#ukazwyniklubniespan {
    font-size: 40px;
}

a:hover {
    color: rgb(163, 163, 163);
    transition: .5s;
}

a {
    font-family: fantasy;
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .5s;
}

a:active {
    color: rgb(119, 119, 119);
}

#guzce {
    margin: 0;
    font-size: 70px;
}

@media screen and (max-width: 1150px) {
    #takiblok {
        background-color: rgba(0, 0, 0, 0.42);
        width: 800px;
    }
    #jakiTrybDiv {
        font-size: 70px;
    }
    #aktywnyGracz {
        font-size: 50px;
    }
    #kolkoigrzyb {
        width: 450px;
        height: 450px;
    }
    .komorka {
        width: 150px;
        height: 150px;
        font-size: 110px;
    }
    table {
        font-size: 20px;
        margin: 45px auto;
    }
    #resethyhym, #zmienTrybButton, .botvsbotguziec {
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 12px;
        box-shadow: 0 7px #005E00;
    }
    /* #jakiTrybDiv, #aktywnyGracz {

        -webkit-text-stroke: 1.7px black;
    } */
    ::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
}
@media screen and (max-width: 800px) {
    #takiblok {
        background-color: rgba(0, 0, 0, 0.42);
        width: 100%
    }
    #jakiTrybDiv {
        font-size: 50px;
    }
    #aktywnyGracz {
        font-size: 30px;
    }
    #kolkoigrzyb {
        width: 300px;
        height: 300px;
    }
    .komorka {
        width: 100px;
        height: 100px;
        font-size: 70px;
    }
    table {
        font-size: 10px;
    }
    td, th {
        padding: 5px 10px;
    }
    ::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }
    #niewiemdiv {
        display: none;
    }
    #resethyhym, #zmienTrybButton, .botvsbotguziec {
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 10px;
        box-shadow: 0 5px #005E00;
    }
    /* #jakiTrybDiv, #aktywnyGracz {

        -webkit-text-stroke: 1.5px black;
    } */

    #jakiTrybDiv, #aktywnyGracz {
        text-shadow: 1px 1px 2px #000000;
    }

    body {
        overflow-y: scroll;
    }
    
}
@media screen and (max-width: 480px) {
    #resethyhym, #zmienTrybButton, .botvsbotguziec {
        padding: 7px 12px;
        font-size: 12px;
        border-radius: 6px;
        box-shadow: 0 4px #005E00;
    }
    #jakiTrybDiv {
        font-size: 40px;
    }
    #aktywnyGracz {
        font-size: 25px;
    }
}